
.scrollspySite {
    position: relative;
    overflow: auto;
    height: 415px;
    background-color: #fafafa;
}

.display-4 {
    color:  #850085;
}

.modal-header {
    color: #850085;
    background-color: #fafafa;
}

.modal-footer {
    color: #850085;
    background-color: #fafafa;
}

.mx-2{
    font-size: 12px;
}

